static/source/backstage.html.haml
---
title: Mauri DMC – Our collection
pageclass: page-backstage
---

.header-illustration
  .text.wow.fadeInBottom
    %h1 
      Le premier rendez-vous Découvrir les 
      %b différentes collections 
      (essayage) Réalisation de vos croquis en fonction de votre évènement, 
      %b de vos goûts, 
      de votre morphologie. Et des tissus qui vou subliment. 
      %b Présentation du 
      devis. Prise de mesure  
  .illustration
    %img.wow.fadeInLeft.animated{:src => "images/backstage-3-mdc-illusztr-2015.png", "data-wow-delay" => "0.5s"}/
    %img.wow.fadeInRight.animated{:src => "images/backstage-2-mdc-illusztr-2015.png", "data-wow-delay" => "0.6s"}/
    %img.wow.fadeInLeft.animated{:src => "images/backstage-1-mdc-illusztr-2015.png", "data-wow-delay" => "0.7s"}/





.container
  %section.row.steps
    %h2.heading-separated 
      %span TO HAVE YOUR TAILOR MADE COSTUME, 
      %br/
      PREPARATIONS TO FOLLOW UP
    .col-sm-4.text-center
      %h3 
        %b 1 
        rendez-vous
      %p Discover the different Collections(fitting)
      %p Realisation of your sketches according to your events, taste, morphology and materials that sublimate you
      %p Specification presentation
      %p Taking measurements
    .col-sm-4.text-center
      %h3 
        %b 2 
        rendez-vous
      %p Fitting of your model
      %p Adjustment, pinning, cutting necklines...
    .col-sm-4.text-center
      %h3 
        %b 3 
        rendez-vous
      %p Creation completed(perfect finish)
      %p Here’s your event just for you
  
  %section.ourteam
    %h2.heading-separated 
      %span Our team
    .row
      .col-sm-6.col-md-3
        .contact.hover
          .contact-inner
            .image
              %img.img-responsive{:src => "http://dummyimage.com/440x580/eee/ddd", :alt => ""}/
            .text
              %ul
                %li Tel.: +36 1 225 0360
                %li Mob: +36 30 466 6816
                %li 
                  %a{:href => "mailto:dora@mauridmc.hu"} dora@mauridmc.hu

        %h3 Dora Farkas
        %p.title Directrice 
  
      .col-sm-6.col-md-3
        .contact.hover
          .contact-inner
            .image
              %img.img-responsive{:src => "http://dummyimage.com/440x580/eee/ddd", :alt => ""}/
            .text
              %ul
                %li Tel.: +36 1 225 0360
                %li Mob: +36 30 466 6816
                %li 
                  %a{:href => "mailto:dora@mauridmc.hu"} dora@mauridmc.hu

        %h3 Dora Farkas
        %p.title Directrice 
  
      .col-sm-6.col-md-3
        .contact.hover
          .contact-inner
            .image
              %img.img-responsive{:src => "http://dummyimage.com/440x580/eee/ddd", :alt => ""}/
            .text
              %ul
                %li Tel.: +36 1 225 0360
                %li Mob: +36 30 466 6816
                %li 
                  %a{:href => "mailto:dora@mauridmc.hu"} dora@mauridmc.hu

        %h3 Dora Farkas
        %p.title Directrice 
  
      .col-sm-6.col-md-3
        .contact{ontouchstart: "this.classList.toggle('hover');"}
          .contact-inner
            .image
              %img.img-responsive{:src => "http://dummyimage.com/440x580/eee/ddd", :alt => ""}/
            .text
              %ul
                %li Tel.: +36 1 225 0360
                %li Mob: +36 30 466 6816
                %li 
                  %a{:href => "mailto:dora@mauridmc.hu"} dora@mauridmc.hu

        %h3 Dora Farkas
        %p.title Directrice 
  
  %section.general-information
    %h2.heading-separated
      %span
        General information
    .row
      .col-sm-4
        %b Mauri DMC 
        %br/
        H-1012 Budapest, 
        %br/
        Márvány utca 18.
      .col-sm-4
        Tel: + 36 1 225 03 60          
        %br/
        Fax:+ 36 1 225 03 61
        %br/
        E-mail: incoming@mauridmc.hu
      .col-sm-4
        www.mauridmc.hu
        %br/
        www.facebook.com/mauriDMC
        %br/
        www.linkedin.com/mauriDMC

%section.map
  %iframe{:frameborder => "3", :height => "280", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.7114819496846!2d19.027033200000005!3d47.495533699999974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc25d5af33cf%3A0x51eaca483b2002c8!2sMauri+DMC!5e0!3m2!1sen!2shu!4v1441666534882", :width => "100%"}

web/app/themes/mauridmc/dist/backstage.html
<!DOCTYPE html>
<html lang='en'></html>
<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <title>Mauri DMC – Our collection</title>
  <meta content='' name='description'>
  <meta content='' name='author'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <link href="stylesheets/style.css" rel="stylesheet" />
</head>
<body class='page-backstage'>
  <div class='navbar navbar-default navbar-fixed-top'>
    <div class='toggle-holder'>
      <button class='navbar-toggle' data-target='.navbar-responsive-collapse' data-toggle='collapse' type='button'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='menutext'>MENU</span>
      </button>
    </div>
    <a class='navbar-brand' href='./index.html'>
      <img alt='' class='logo logo-desktop' src='images/mauridmc_logo@2x.png'>
      <img alt='' class='logo logo-mobile' src='images/mauridmc_logo_mobile@2x.png'>
      <img alt='' class='dmc' src='images/dmc_text.png'>
    </a>
    <div class='navbar-language-select'>
      <ul>
        <li><a href="our-work-is-our-passion.html">FR</a></li>
      </ul>
    </div>
    <div class='navbar-collapse navbar-right collapse navbar-responsive-collapse navbar-primary'>
      <ul class='nav navbar-nav navbar-main'>
        <li class='active'><a href="our-work-is-our-passion.html">Our work is our passion</a></li>
        <li class='dropdown'>
          <a aria-expanded='false' aria-haspopup='true' class='dropdown-toggle' data-toggle='dropdown' href='#' title='Our collection'>
            Our collection
            <span class='caret'></span>
          </a>
          <ul class='dropdown-menu' role='menu'>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='active menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
          </ul>
        </li>
        <li><a href="latest-trends.html">Latest trends</a></li>
        <li><a href="references.html">References</a></li>
        <li><a href="study-tour.html">Study tour</a></li>
        <li><a href="backstage.html">Backstage</a></li>
      </ul>
    </div>
  </div>
  <div class='page-wrap'>
    <div class='header-illustration'>
      <div class='text wow fadeInBottom'>
        <h1>
          Le premier rendez-vous Découvrir les
          <b>différentes collections</b>
          (essayage) Réalisation de vos croquis en fonction de votre évènement,
          <b>de vos goûts,</b>
          de votre morphologie. Et des tissus qui vou subliment.
          <b>Présentation du</b>
          devis. Prise de mesure
        </h1>
      </div>
      <div class='illustration'>
        <img class='wow fadeInLeft animated' data-wow-delay='0.5s' src='images/backstage-3-mdc-illusztr-2015.png'>
        <img class='wow fadeInRight animated' data-wow-delay='0.6s' src='images/backstage-2-mdc-illusztr-2015.png'>
        <img class='wow fadeInLeft animated' data-wow-delay='0.7s' src='images/backstage-1-mdc-illusztr-2015.png'>
      </div>
    </div>
    <div class='container'>
      <section class='row steps'>
        <h2 class='heading-separated'>
          <span>TO HAVE YOUR TAILOR MADE COSTUME,</span>
          <br>
          PREPARATIONS TO FOLLOW UP
        </h2>
        <div class='col-sm-4 text-center'>
          <h3>
            <b>1</b>
            rendez-vous
          </h3>
          <p>Discover the different Collections(fitting)</p>
          <p>Realisation of your sketches according to your events, taste, morphology and materials that sublimate you</p>
          <p>Specification presentation</p>
          <p>Taking measurements</p>
        </div>
        <div class='col-sm-4 text-center'>
          <h3>
            <b>2</b>
            rendez-vous
          </h3>
          <p>Fitting of your model</p>
          <p>Adjustment, pinning, cutting necklines...</p>
        </div>
        <div class='col-sm-4 text-center'>
          <h3>
            <b>3</b>
            rendez-vous
          </h3>
          <p>Creation completed(perfect finish)</p>
          <p>Here’s your event just for you</p>
        </div>
      </section>
      <section class='ourteam'>
        <h2 class='heading-separated'>
          <span>Our team</span>
        </h2>
        <div class='row'>
          <div class='col-sm-6 col-md-3'>
            <div class='contact hover'>
              <div class='contact-inner'>
                <div class='image'>
                  <img alt='' class='img-responsive' src='http://dummyimage.com/440x580/eee/ddd'>
                </div>
                <div class='text'>
                  <ul>
                    <li>Tel.: +36 1 225 0360</li>
                    <li>Mob: +36 30 466 6816</li>
                    <li>
                      <a href='mailto:dora@mauridmc.hu'>dora@mauridmc.hu</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <h3>Dora Farkas</h3>
            <p class='title'>Directrice</p>
          </div>
          <div class='col-sm-6 col-md-3'>
            <div class='contact hover'>
              <div class='contact-inner'>
                <div class='image'>
                  <img alt='' class='img-responsive' src='http://dummyimage.com/440x580/eee/ddd'>
                </div>
                <div class='text'>
                  <ul>
                    <li>Tel.: +36 1 225 0360</li>
                    <li>Mob: +36 30 466 6816</li>
                    <li>
                      <a href='mailto:dora@mauridmc.hu'>dora@mauridmc.hu</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <h3>Dora Farkas</h3>
            <p class='title'>Directrice</p>
          </div>
          <div class='col-sm-6 col-md-3'>
            <div class='contact hover'>
              <div class='contact-inner'>
                <div class='image'>
                  <img alt='' class='img-responsive' src='http://dummyimage.com/440x580/eee/ddd'>
                </div>
                <div class='text'>
                  <ul>
                    <li>Tel.: +36 1 225 0360</li>
                    <li>Mob: +36 30 466 6816</li>
                    <li>
                      <a href='mailto:dora@mauridmc.hu'>dora@mauridmc.hu</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <h3>Dora Farkas</h3>
            <p class='title'>Directrice</p>
          </div>
          <div class='col-sm-6 col-md-3'>
            <div class='contact' ontouchstart="this.classList.toggle('hover');">
              <div class='contact-inner'>
                <div class='image'>
                  <img alt='' class='img-responsive' src='http://dummyimage.com/440x580/eee/ddd'>
                </div>
                <div class='text'>
                  <ul>
                    <li>Tel.: +36 1 225 0360</li>
                    <li>Mob: +36 30 466 6816</li>
                    <li>
                      <a href='mailto:dora@mauridmc.hu'>dora@mauridmc.hu</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <h3>Dora Farkas</h3>
            <p class='title'>Directrice</p>
          </div>
        </div>
      </section>
      <section class='general-information'>
        <h2 class='heading-separated'>
          <span>
            General information
          </span>
        </h2>
        <div class='row'>
          <div class='col-sm-4'>
            <b>Mauri DMC</b>
            <br>
            H-1012 Budapest,
            <br>
            Márvány utca 18.
          </div>
          <div class='col-sm-4'>
            Tel: + 36 1 225 03 60
            <br>
            Fax:+ 36 1 225 03 61
            <br>
            E-mail: incoming@mauridmc.hu
          </div>
          <div class='col-sm-4'>
            www.mauridmc.hu
            <br>
            www.facebook.com/mauriDMC
            <br>
            www.linkedin.com/mauriDMC
          </div>
        </div>
      </section>
    </div>
    <section class='map'>
      <iframe frameborder='3' height='280' marginheight='0' marginwidth='0' scrolling='no' src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.7114819496846!2d19.027033200000005!3d47.495533699999974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc25d5af33cf%3A0x51eaca483b2002c8!2sMauri+DMC!5e0!3m2!1sen!2shu!4v1441666534882' width='100%'></iframe>
    </section>
  </div>
  <footer class='site-footer'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-4'>
          <img alt='' class='logo' src='images/mauridmc_logo_mobile@2x.png'>
          <p class='copy'>
            &copy;2015  Mauri DMC – All rights reserved
          </p>
        </div>
        <div class='col-sm-4 text-center contact'>
          <p>
            <i class='fa fa-home'></i>
            H-1012 Budapest, Márvány utca 18.
            <ul class='list-inline'>
              <li>
                <a href='#'>
                  <i class='fa fa-phone'></i>
                  + 36 1 225 03 60
                </a>
              </li>
              <li>
                <a href='#'>
                  <i class='fa fa-mobile'></i>
                  + 36 30 4666 816   
                </a>
              </li>
            </ul>
          </p>
        </div>
        <div class='col-sm-4'>
          <ul class='list-unstyled social'>
            <li>
              <a href='#'>
                <i class='fa fa-facebook'></i>
              </a>
            </li>
            <li>
              <a href='#'>
                <i class='fa fa-linkedin'></i>
              </a>
            </li>
            <li>
              <a href='#'>
                <i class='fa fa-envelope'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="javascripts/main.js"></script>
</body>
