static/source/our-collection.haml
---
title: Mauri DMC – Our collection
---


.header-illustration
  .text.wow.fadeInBottom
    %h1 
      Throw you in an « operation of seduction » with our collections spring-summer, fall winter!
      %br A collection très couture where every detail is carefully well kept. 
  .illustration
    %img.wow.fadeInLeft.animated{:src => "images/backstage-3-mdc-illusztr-2015.png", "data-wow-delay" => "0.5s"}/
    %img.wow.fadeInRight.animated{:src => "images/backstage-2-mdc-illusztr-2015.png", "data-wow-delay" => "0.6s"}/
    %img.wow.fadeInLeft.animated{:src => "images/backstage-1-mdc-illusztr-2015.png", "data-wow-delay" => "0.7s"}/
.container
  %h2.heading-separated
    %span Live unlimited Budapest
  .lightbox
    .collection-item.portrait.right
      .parallax{"data-parallax" => '{"y": -100}'}
        %a{:href => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/Dunarama_kicsi_4-2-P-515x750.jpg", 'data-toggle'=>"lightbox", 'data-gallery'=>"multiimages"}

          %img{:src => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/Dunarama_kicsi_4-2-P-515x750.jpg"}
      
    .collection-item.portrait
      .parallax{"data-parallax" => '{"y": -100}'}
        %a{:href => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/DSC01767-563x750.jpg", 'data-toggle'=>"lightbox", 'data-gallery'=>"multiimages"}
          %img{:src => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/DSC01767-563x750.jpg"}
      
    .collection-item.right
      .parallax{"data-parallax" => '{"y": -100}'}
        %a{:href => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/DIMANCHE.-678-P.jpg", 'data-toggle'=>"lightbox", 'data-gallery'=>"multiimages"}
          %img{:src => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/DIMANCHE.-678-P.jpg"}
      
      .text{"data-parallax" => '{"y": -30}'}
        %h3 vos plus belles soirées
        %p 27649803 DCMKO
    .collection-item
      .parallax{"data-parallax" => '{"y": -100}'}
        %a{:href => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/20140429-6051-1125x750.jpg", 'data-toggle'=>"lightbox", 'data-gallery'=>"multiimages"}
          %img{:src => "http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/20140429-6051-1125x750.jpg"}
      
      .text{"data-parallax" => '{"y": -30}'}
        %h3 vos plus belles soirées
        %p 27649803 DCMKO


  %h2.heading-separated
    %span Get in touch

  .row
    .col-sm-4
      %h3 Interested in more?
      %p Just fill out this form, give us some questions and we will contact you as soon as possible!
    .col-sm-6.col-sm-push-2
      %form.form-horizontal{:action => ""}
        .row
          .col-sm-6
            %input#firstName.form-control{:name => "firstName", :placeholder => "First Name", :required => "", :type => "text"}/
            %input#lastName.form-control{:name => "lastName", :placeholder => "Last Name", :required => "", :type => "text"}/
            %input#email.form-control{:name => "email", :placeholder => "E-mail", :required => "", :type => "email"}/
          .col-sm-6
            %textarea#message.form-control{:name => "message", :placeholder => "Your message or question", :required => ""}
        .row
          .col-sm-2.col-sm-push-10
            %button.btn.btn-primary.btn-block{:type => "submit"} Submit

web/app/themes/mauridmc/dist/our-collection.html
<!DOCTYPE html>
<html lang='en'></html>
<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <title>Mauri DMC – Our collection</title>
  <meta content='' name='description'>
  <meta content='' name='author'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <link href="stylesheets/style.css" rel="stylesheet" />
</head>
<body>
  <div class='navbar navbar-default navbar-fixed-top'>
    <div class='toggle-holder'>
      <button class='navbar-toggle' data-target='.navbar-responsive-collapse' data-toggle='collapse' type='button'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='menutext'>MENU</span>
      </button>
    </div>
    <a class='navbar-brand' href='./index.html'>
      <img alt='' class='logo logo-desktop' src='images/mauridmc_logo@2x.png'>
      <img alt='' class='logo logo-mobile' src='images/mauridmc_logo_mobile@2x.png'>
      <img alt='' class='dmc' src='images/dmc_text.png'>
    </a>
    <div class='navbar-language-select'>
      <ul>
        <li><a href="our-work-is-our-passion.html">FR</a></li>
      </ul>
    </div>
    <div class='navbar-collapse navbar-right collapse navbar-responsive-collapse navbar-primary'>
      <ul class='nav navbar-nav navbar-main'>
        <li class='active'><a href="our-work-is-our-passion.html">Our work is our passion</a></li>
        <li class='dropdown'>
          <a aria-expanded='false' aria-haspopup='true' class='dropdown-toggle' data-toggle='dropdown' href='#' title='Our collection'>
            Our collection
            <span class='caret'></span>
          </a>
          <ul class='dropdown-menu' role='menu'>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='active menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
          </ul>
        </li>
        <li><a href="latest-trends.html">Latest trends</a></li>
        <li><a href="references.html">References</a></li>
        <li><a href="study-tour.html">Study tour</a></li>
        <li><a href="backstage.html">Backstage</a></li>
      </ul>
    </div>
  </div>
  <div class='page-wrap'>
    <div class='header-illustration'>
      <div class='text wow fadeInBottom'>
        <h1>
          Throw you in an « operation of seduction » with our collections spring-summer, fall winter!
          <br>A collection très couture where every detail is carefully well kept. </br>
        </h1>
      </div>
      <div class='illustration'>
        <img class='wow fadeInLeft animated' data-wow-delay='0.5s' src='images/backstage-3-mdc-illusztr-2015.png'>
        <img class='wow fadeInRight animated' data-wow-delay='0.6s' src='images/backstage-2-mdc-illusztr-2015.png'>
        <img class='wow fadeInLeft animated' data-wow-delay='0.7s' src='images/backstage-1-mdc-illusztr-2015.png'>
      </div>
    </div>
    <div class='container'>
      <h2 class='heading-separated'>
        <span>Live unlimited Budapest</span>
      </h2>
      <div class='lightbox'>
        <div class='collection-item portrait right'>
          <div class='parallax' data-parallax='{"y": -100}'>
            <a data-gallery='multiimages' data-toggle='lightbox' href='http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/Dunarama_kicsi_4-2-P-515x750.jpg'>
              <img src='http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/Dunarama_kicsi_4-2-P-515x750.jpg'>
            </a>
          </div>
        </div>
        <div class='collection-item portrait'>
          <div class='parallax' data-parallax='{"y": -100}'>
            <a data-gallery='multiimages' data-toggle='lightbox' href='http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/DSC01767-563x750.jpg'>
              <img src='http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/DSC01767-563x750.jpg'>
            </a>
          </div>
        </div>
        <div class='collection-item right'>
          <div class='parallax' data-parallax='{"y": -100}'>
            <a data-gallery='multiimages' data-toggle='lightbox' href='http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/DIMANCHE.-678-P.jpg'>
              <img src='http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/DIMANCHE.-678-P.jpg'>
            </a>
          </div>
          <div class='text' data-parallax='{"y": -30}'>
            <h3>vos plus belles soirées</h3>
            <p>27649803 DCMKO</p>
          </div>
        </div>
        <div class='collection-item'>
          <div class='parallax' data-parallax='{"y": -100}'>
            <a data-gallery='multiimages' data-toggle='lightbox' href='http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/20140429-6051-1125x750.jpg'>
              <img src='http://mauridmc.dev.pixeloid.hu/app/uploads/2015/10/20140429-6051-1125x750.jpg'>
            </a>
          </div>
          <div class='text' data-parallax='{"y": -30}'>
            <h3>vos plus belles soirées</h3>
            <p>27649803 DCMKO</p>
          </div>
        </div>
      </div>
      <h2 class='heading-separated'>
        <span>Get in touch</span>
      </h2>
      <div class='row'>
        <div class='col-sm-4'>
          <h3>Interested in more?</h3>
          <p>Just fill out this form, give us some questions and we will contact you as soon as possible!</p>
        </div>
        <div class='col-sm-6 col-sm-push-2'>
          <form action='' class='form-horizontal'>
            <div class='row'>
              <div class='col-sm-6'>
                <input class='form-control' id='firstName' name='firstName' placeholder='First Name' required='' type='text'>
                <input class='form-control' id='lastName' name='lastName' placeholder='Last Name' required='' type='text'>
                <input class='form-control' id='email' name='email' placeholder='E-mail' required='' type='email'>
              </div>
              <div class='col-sm-6'>
                <textarea class='form-control' id='message' name='message' placeholder='Your message or question' required=''></textarea>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-2 col-sm-push-10'>
                <button class='btn btn-primary btn-block' type='submit'>Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer class='site-footer'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-4'>
          <img alt='' class='logo' src='images/mauridmc_logo_mobile@2x.png'>
          <p class='copy'>
            &copy;2015  Mauri DMC – All rights reserved
          </p>
        </div>
        <div class='col-sm-4 text-center contact'>
          <p>
            <i class='fa fa-home'></i>
            H-1012 Budapest, Márvány utca 18.
            <ul class='list-inline'>
              <li>
                <a href='#'>
                  <i class='fa fa-phone'></i>
                  + 36 1 225 03 60
                </a>
              </li>
              <li>
                <a href='#'>
                  <i class='fa fa-mobile'></i>
                  + 36 30 4666 816   
                </a>
              </li>
            </ul>
          </p>
        </div>
        <div class='col-sm-4'>
          <ul class='list-unstyled social'>
            <li>
              <a href='#'>
                <i class='fa fa-facebook'></i>
              </a>
            </li>
            <li>
              <a href='#'>
                <i class='fa fa-linkedin'></i>
              </a>
            </li>
            <li>
              <a href='#'>
                <i class='fa fa-envelope'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="javascripts/main.js"></script>
</body>
