static/source/our-work-is-our-passion.html.haml
---
title: Mauri DMC – Our work
---


.header-illustration
  .text.wow.fadeInBottom
    %h1 
      %b Mauri DMC qualified incoming agency, english speaking team
      %b specialised from years in the organisation of events
      %b A perfect knowledge of our destination 
      and our special relationship with carefully selected local partners allow us to offer you the
      %b most suitable programs
      for your request.
      Our work with the clients is based on a
      %b real partnership from the first canvas
      %b to the final version.&#160;
  .illustration
    %img.wow.fadeInLeft.animated{:src => "images/backstage-3-mdc-illusztr-2015.png", "data-wow-delay" => "0.5s"}/
    %img.wow.fadeInRight.animated{:src => "images/backstage-2-mdc-illusztr-2015.png", "data-wow-delay" => "0.6s"}/
    %img.wow.fadeInLeft.animated{:src => "images/backstage-1-mdc-illusztr-2015.png", "data-wow-delay" => "0.7s"}/

web/app/themes/mauridmc/dist/our-work-is-our-passion.html
<!DOCTYPE html>
<html lang='en'></html>
<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <title>Mauri DMC – Our work</title>
  <meta content='' name='description'>
  <meta content='' name='author'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <link href="stylesheets/style.css" rel="stylesheet" />
</head>
<body>
  <div class='navbar navbar-default navbar-fixed-top'>
    <div class='toggle-holder'>
      <button class='navbar-toggle' data-target='.navbar-responsive-collapse' data-toggle='collapse' type='button'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='menutext'>MENU</span>
      </button>
    </div>
    <a class='navbar-brand' href='./index.html'>
      <img alt='' class='logo logo-desktop' src='images/mauridmc_logo@2x.png'>
      <img alt='' class='logo logo-mobile' src='images/mauridmc_logo_mobile@2x.png'>
      <img alt='' class='dmc' src='images/dmc_text.png'>
    </a>
    <div class='navbar-language-select'>
      <ul>
        <li><a href="our-work-is-our-passion.html">FR</a></li>
      </ul>
    </div>
    <div class='navbar-collapse navbar-right collapse navbar-responsive-collapse navbar-primary'>
      <ul class='nav navbar-nav navbar-main'>
        <li class='active'><a href="our-work-is-our-passion.html">Our work is our passion</a></li>
        <li class='dropdown'>
          <a aria-expanded='false' aria-haspopup='true' class='dropdown-toggle' data-toggle='dropdown' href='#' title='Our collection'>
            Our collection
            <span class='caret'></span>
          </a>
          <ul class='dropdown-menu' role='menu'>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='active menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
          </ul>
        </li>
        <li><a href="latest-trends.html">Latest trends</a></li>
        <li><a href="references.html">References</a></li>
        <li><a href="study-tour.html">Study tour</a></li>
        <li><a href="backstage.html">Backstage</a></li>
      </ul>
    </div>
  </div>
  <div class='page-wrap'>
    <div class='header-illustration'>
      <div class='text wow fadeInBottom'>
        <h1>
          <b>Mauri DMC qualified incoming agency, english speaking team</b>
          <b>specialised from years in the organisation of events</b>
          <b>A perfect knowledge of our destination</b>
          and our special relationship with carefully selected local partners allow us to offer you the
          <b>most suitable programs</b>
          for your request.
          Our work with the clients is based on a
          <b>real partnership from the first canvas</b>
          <b>to the final version.&#160;</b>
        </h1>
      </div>
      <div class='illustration'>
        <img class='wow fadeInLeft animated' data-wow-delay='0.5s' src='images/backstage-3-mdc-illusztr-2015.png'>
        <img class='wow fadeInRight animated' data-wow-delay='0.6s' src='images/backstage-2-mdc-illusztr-2015.png'>
        <img class='wow fadeInLeft animated' data-wow-delay='0.7s' src='images/backstage-1-mdc-illusztr-2015.png'>
      </div>
    </div>
  </div>
  <footer class='site-footer'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-4'>
          <img alt='' class='logo' src='images/mauridmc_logo_mobile@2x.png'>
          <p class='copy'>
            &copy;2015  Mauri DMC – All rights reserved
          </p>
        </div>
        <div class='col-sm-4 text-center contact'>
          <p>
            <i class='fa fa-home'></i>
            H-1012 Budapest, Márvány utca 18.
            <ul class='list-inline'>
              <li>
                <a href='#'>
                  <i class='fa fa-phone'></i>
                  + 36 1 225 03 60
                </a>
              </li>
              <li>
                <a href='#'>
                  <i class='fa fa-mobile'></i>
                  + 36 30 4666 816   
                </a>
              </li>
            </ul>
          </p>
        </div>
        <div class='col-sm-4'>
          <ul class='list-unstyled social'>
            <li>
              <a href='#'>
                <i class='fa fa-facebook'></i>
              </a>
            </li>
            <li>
              <a href='#'>
                <i class='fa fa-linkedin'></i>
              </a>
            </li>
            <li>
              <a href='#'>
                <i class='fa fa-envelope'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="javascripts/main.js"></script>
</body>
