static/source/references.html.haml
---
title: References
pageclass: page-references
---

.container

	.references
		.references-item
			.panel
				.panel-heading
					.panel-heading-inner
						.panel-heading-title
							Company, or event headline
						.panel-heading-date
							2015 Sep 9
				.panel-body
					%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					.logo.text-center
						%img{:src => "images/logo.jpg", :alt => ""}/
					.btn-slideup.hover
						%span
							%i.glyphicon.glyphicon-chevron-up
				#carousel-4.carousel.slide{"data-ride" => "carousel"}
					%ol.carousel-indicators
						%li.active{"data-slide-to" => "0", "data-target" => "#carousel-4"}
						%li{"data-slide-to" => "1", "data-target" => "#carousel-4"}
						%li{"data-slide-to" => "2", "data-target" => "#carousel-4"}

					.carousel-inner{:role => "listbox"}
						.item.active
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/1"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/3"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/2"}/

					%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-4", :role => "button"}
						%span.icon-prev{"aria-hidden" => "true"}
						%span.sr-only Previous
					%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-4", :role => "button"}
						%span.icon-next{"aria-hidden" => "true"}
						%span.sr-only Next

					%a.zoom{:href => "#"}


		.references-item
			.panel
				.panel-heading
					.panel-heading-inner
						.panel-heading-title
							Company, or event headline
						.panel-heading-date
							2015 Sep 9
				.panel-body
					%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					.logo.text-center
						%img{:src => "images/logo.jpg", :alt => ""}/
					.btn-slideup.hover
						%span
							%i.glyphicon.glyphicon-chevron-up
				#carousel-1.carousel.slide{"data-ride" => "carousel"}
					%ol.carousel-indicators
						%li.active{"data-slide-to" => "0", "data-target" => "#carousel-1"}
						%li{"data-slide-to" => "1", "data-target" => "#carousel-1"}
						%li{"data-slide-to" => "2", "data-target" => "#carousel-1"}

					.carousel-inner{:role => "listbox"}
						.item.active
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/1"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/3"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/2"}/

					%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-1", :role => "button"}
						%span.icon-prev{"aria-hidden" => "true"}
						%span.sr-only Previous
					%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-1", :role => "button"}
						%span.icon-next{"aria-hidden" => "true"}
						%span.sr-only Next

					%a.zoom{:href => "#"}		
		.references-item
			.panel
				.panel-heading
					.panel-heading-inner
						.panel-heading-title
							Company, or event headline
						.panel-heading-date
							2015 Sep 9
				.panel-body
					%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					.logo.text-center
						%img{:src => "images/logo.jpg", :alt => ""}/
					.btn-slideup.hover
						%span
							%i.glyphicon.glyphicon-chevron-up
				#carousel-2.carousel.slide{"data-ride" => "carousel"}
					%ol.carousel-indicators
						%li.active{"data-slide-to" => "0", "data-target" => "#carousel-2"}
						%li{"data-slide-to" => "1", "data-target" => "#carousel-2"}
						%li{"data-slide-to" => "2", "data-target" => "#carousel-2"}

					.carousel-inner{:role => "listbox"}
						.item.active
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/1"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/3"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/2"}/

					%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-2", :role => "button"}
						%span.icon-prev{"aria-hidden" => "true"}
						%span.sr-only Previous
					%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-2", :role => "button"}
						%span.icon-next{"aria-hidden" => "true"}
						%span.sr-only Next

					%a.zoom{:href => "#"}		
		.references-item
			.panel
				.panel-heading
					.panel-heading-inner
						.panel-heading-title
							Company, or event headline
						.panel-heading-date
							2015 Sep 9
				.panel-body
					%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					.logo.text-center
						%img{:src => "images/logo.jpg", :alt => ""}/
					.btn-slideup.hover
						%span
							%i.glyphicon.glyphicon-chevron-up
				#carousel-3.carousel.slide{"data-ride" => "carousel"}
					%ol.carousel-indicators
						%li.active{"data-slide-to" => "0", "data-target" => "#carousel-3"}
						%li{"data-slide-to" => "1", "data-target" => "#carousel-3"}
						%li{"data-slide-to" => "2", "data-target" => "#carousel-3"}

					.carousel-inner{:role => "listbox"}
						.item.active
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/1"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/3"}/
						.item
							%img.img-responsive{:alt => "...", :src => "http://lorempixel.com/500/400/sports/2"}/

					%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-3", :role => "button"}
						%span.icon-prev{"aria-hidden" => "true"}
						%span.sr-only Previous
					%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-3", :role => "button"}
						%span.icon-next{"aria-hidden" => "true"}
						%span.sr-only Next

					%a.zoom{:href => "#"}

web/app/themes/mauridmc/dist/references.html
<!DOCTYPE html>
<html lang='en'></html>
<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <title>References</title>
  <meta content='' name='description'>
  <meta content='' name='author'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <link href="stylesheets/style.css" rel="stylesheet" />
</head>
<body class='page-references'>
  <div class='navbar navbar-default navbar-fixed-top'>
    <div class='toggle-holder'>
      <button class='navbar-toggle' data-target='.navbar-responsive-collapse' data-toggle='collapse' type='button'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='menutext'>MENU</span>
      </button>
    </div>
    <a class='navbar-brand' href='./index.html'>
      <img alt='' class='logo logo-desktop' src='images/mauridmc_logo@2x.png'>
      <img alt='' class='logo logo-mobile' src='images/mauridmc_logo_mobile@2x.png'>
      <img alt='' class='dmc' src='images/dmc_text.png'>
    </a>
    <div class='navbar-language-select'>
      <ul>
        <li><a href="our-work-is-our-passion.html">FR</a></li>
      </ul>
    </div>
    <div class='navbar-collapse navbar-right collapse navbar-responsive-collapse navbar-primary'>
      <ul class='nav navbar-nav navbar-main'>
        <li class='active'><a href="our-work-is-our-passion.html">Our work is our passion</a></li>
        <li class='dropdown'>
          <a aria-expanded='false' aria-haspopup='true' class='dropdown-toggle' data-toggle='dropdown' href='#' title='Our collection'>
            Our collection
            <span class='caret'></span>
          </a>
          <ul class='dropdown-menu' role='menu'>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='active menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-31' id='menu-item-31'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/live-unlimited-budapest/' title='LIVE UNLIMITED BUDAPEST'>LIVE UNLIMITED BUDAPEST</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-collection menu-item-38' id='menu-item-38'>
              <a href='http://mauridmc.dev.pixeloid.hu/index.php/collection/the-city-that-makes-us-move/' title='THE CITY THAT MAKES US MOVE'>THE CITY THAT MAKES US MOVE</a>
            </li>
          </ul>
        </li>
        <li><a href="latest-trends.html">Latest trends</a></li>
        <li><a href="references.html">References</a></li>
        <li><a href="study-tour.html">Study tour</a></li>
        <li><a href="backstage.html">Backstage</a></li>
      </ul>
    </div>
  </div>
  <div class='page-wrap'>
    <div class='container'>
      <div class='references'>
        <div class='references-item'>
          <div class='panel'>
            <div class='panel-heading'>
              <div class='panel-heading-inner'>
                <div class='panel-heading-title'>
                  Company, or event headline
                </div>
                <div class='panel-heading-date'>
                  2015 Sep 9
                </div>
              </div>
            </div>
            <div class='panel-body'>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <div class='logo text-center'>
                <img alt='' src='images/logo.jpg'>
              </div>
              <div class='btn-slideup hover'>
                <span>
                  <i class='glyphicon glyphicon-chevron-up'></i>
                </span>
              </div>
            </div>
            <div class='carousel slide' data-ride='carousel' id='carousel-4'>
              <ol class='carousel-indicators'>
                <li class='active' data-slide-to='0' data-target='#carousel-4'></li>
                <li data-slide-to='1' data-target='#carousel-4'></li>
                <li data-slide-to='2' data-target='#carousel-4'></li>
              </ol>
              <div class='carousel-inner' role='listbox'>
                <div class='item active'>
                  <img alt='...' class='img-responsive' src='http://lorempixel.com/500/400/sports/1'>
                </div>
                <div class='item'>
                  <img alt='...' class='img-responsive' src='http://lorempixel.com/500/400/sports/3'>
                </div>
                <div class='item'>
                  <img alt='...' class='img-responsive' src='http://lorempixel.com/500/400/sports/2'>
                </div>
              </div>
              <a class='left carousel-control' data-slide='prev' href='#carousel-4' role='button'>
                <span aria-hidden='true' class='icon-prev'></span>
                <span class='sr-only'>Previous</span>
              </a>
              <a class='right carousel-control' data-slide='next' href='#carousel-4' role='button'>
                <span aria-hidden='true' class='icon-next'></span>
                <span class='sr-only'>Next</span>
              </a>
              <a class='zoom' href='#'></a>
            </div>
          </div>
        </div>
        <div class='references-item'>
          <div class='panel'>
            <div class='panel-heading'>
              <div class='panel-heading-inner'>
                <div class='panel-heading-title'>
                  Company, or event headline
                </div>
                <div class='panel-heading-date'>
                  2015 Sep 9
                </div>
              </div>
            </div>
            <div class='panel-body'>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <div class='logo text-center'>
                <img alt='' src='images/logo.jpg'>
              </div>
              <div class='btn-slideup hover'>
                <span>
                  <i class='glyphicon glyphicon-chevron-up'></i>
                </span>
              </div>
            </div>
            <div class='carousel slide' data-ride='carousel' id='carousel-1'>
              <ol class='carousel-indicators'>
                <li class='active' data-slide-to='0' data-target='#carousel-1'></li>
                <li data-slide-to='1' data-target='#carousel-1'></li>
                <li data-slide-to='2' data-target='#carousel-1'></li>
              </ol>
              <div class='carousel-inner' role='listbox'>
                <div class='item active'>
                  <img alt='...' class='img-responsive' src='http://lorempixel.com/500/400/sports/1'>
                </div>
                <div class='item'>
                  <img alt='...' class='img-responsive' src='http://lorempixel.com/500/400/sports/3'>
                </div>
                <div class='item'>
                  <img alt='...' class='img-responsive' src='http://lorempixel.com/500/400/sports/2'>
                </div>
              </div>
              <a class='left carousel-control' data-slide='prev' href='#carousel-1' role='button'>
                <span aria-hidden='true' class='icon-prev'></span>
                <span class='sr-only'>Previous</span>
              </a>
              <a class='right carousel-control' data-slide='next' href='#carousel-1' role='button'>
                <span aria-hidden='true' class='icon-next'></span>
                <span class='sr-only'>Next</span>
              </a>
              <a class='zoom' href='#'></a>
            </div>
          </div>
        </div>
        <div class='references-item'>
          <div class='panel'>
            <div class='panel-heading'>
              <div class='panel-heading-inner'>
                <div class='panel-heading-title'>
                  Company, or event headline
                </div>
                <div class='panel-heading-date'>
                  2015 Sep 9
                </div>
              </div>
            </div>
            <div class='panel-body'>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <div class='logo text-center'>
                <img alt='' src='images/logo.jpg'>
              </div>
              <div class='btn-slideup hover'>
                <span>
                  <i class='glyphicon glyphicon-chevron-up'></i>
                </span>
              </div>
            </div>
            <div class='carousel slide' data-ride='carousel' id='carousel-2'>
              <ol class='carousel-indicators'>
                <li class='active' data-slide-to='0' data-target='#carousel-2'></li>
                <li data-slide-to='1' data-target='#carousel-2'></li>
                <li data-slide-to='2' data-target='#carousel-2'></li>
              </ol>
              <div class='carousel-inner' role='listbox'>
                <div class='item active'>
                  <img alt='...' class='img-responsive' src='http://lorempixel.com/500/400/sports/1'>
                </div>
                <div class='item'>
                  <img alt='...' class='img-responsive' src='http://lorempixel.com/500/400/sports/3'>
                </div>
                <div class='item'>
                  <img alt='...' class='img-responsive' src='http://lorempixel.com/500/400/sports/2'>
                </div>
              </div>
              <a class='left carousel-control' data-slide='prev' href='#carousel-2' role='button'>
                <span aria-hidden='true' class='icon-prev'></span>
                <span class='sr-only'>Previous</span>
              </a>
              <a class='right carousel-control' data-slide='next' href='#carousel-2' role='button'>
                <span aria-hidden='true' class='icon-next'></span>
                <span class='sr-only'>Next</span>
              </a>
              <a class='zoom' href='#'></a>
            </div>
          </div>
        </div>
        <div class='references-item'>
          <div class='panel'>
            <div class='panel-heading'>
              <div class='panel-heading-inner'>
                <div class='panel-heading-title'>
                  Company, or event headline
                </div>
                <div class='panel-heading-date'>
                  2015 Sep 9
                </div>
              </div>
            </div>
            <div class='panel-body'>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <div class='logo text-center'>
                <img alt='' src='images/logo.jpg'>
              </div>
              <div class='btn-slideup hover'>
                <span>
                  <i class='glyphicon glyphicon-chevron-up'></i>
                </span>
              </div>
            </div>
            <div class='carousel slide' data-ride='carousel' id='carousel-3'>
              <ol class='carousel-indicators'>
                <li class='active' data-slide-to='0' data-target='#carousel-3'></li>
                <li data-slide-to='1' data-target='#carousel-3'></li>
                <li data-slide-to='2' data-target='#carousel-3'></li>
              </ol>
              <div class='carousel-inner' role='listbox'>
                <div class='item active'>
                  <img alt='...' class='img-responsive' src='http://lorempixel.com/500/400/sports/1'>
                </div>
                <div class='item'>
                  <img alt='...' class='img-responsive' src='http://lorempixel.com/500/400/sports/3'>
                </div>
                <div class='item'>
                  <img alt='...' class='img-responsive' src='http://lorempixel.com/500/400/sports/2'>
                </div>
              </div>
              <a class='left carousel-control' data-slide='prev' href='#carousel-3' role='button'>
                <span aria-hidden='true' class='icon-prev'></span>
                <span class='sr-only'>Previous</span>
              </a>
              <a class='right carousel-control' data-slide='next' href='#carousel-3' role='button'>
                <span aria-hidden='true' class='icon-next'></span>
                <span class='sr-only'>Next</span>
              </a>
              <a class='zoom' href='#'></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class='site-footer'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-4'>
          <img alt='' class='logo' src='images/mauridmc_logo_mobile@2x.png'>
          <p class='copy'>
            &copy;2015  Mauri DMC – All rights reserved
          </p>
        </div>
        <div class='col-sm-4 text-center contact'>
          <p>
            <i class='fa fa-home'></i>
            H-1012 Budapest, Márvány utca 18.
            <ul class='list-inline'>
              <li>
                <a href='#'>
                  <i class='fa fa-phone'></i>
                  + 36 1 225 03 60
                </a>
              </li>
              <li>
                <a href='#'>
                  <i class='fa fa-mobile'></i>
                  + 36 30 4666 816   
                </a>
              </li>
            </ul>
          </p>
        </div>
        <div class='col-sm-4'>
          <ul class='list-unstyled social'>
            <li>
              <a href='#'>
                <i class='fa fa-facebook'></i>
              </a>
            </li>
            <li>
              <a href='#'>
                <i class='fa fa-linkedin'></i>
              </a>
            </li>
            <li>
              <a href='#'>
                <i class='fa fa-envelope'></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="javascripts/main.js"></script>
</body>
